<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a5r_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_foreground"
        android:label=""
        android:roundIcon="@mipmap/ic_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".final_information"></activity>
        <activity android:name=".ScanLabel" />
        <activity android:name=".RecyclingInformation" />
        <activity
            android:name=".ProductSelection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BrownGlass" />
        <activity android:name=".EntertainmentGaming" />
        <activity android:name=".BlueGlass" />
        <activity android:name=".Batteries" />
        <activity android:name=".PowerTools" />
        <activity android:name=".ComputerEquipment" />
        <activity android:name=".GreenGlass" />
        <activity android:name=".PlasticContainers" />
        <activity android:name=".FinalInformation" />
        <activity android:name=".PlasticCups" />
        <activity android:name=".PlasticBags" />
        <activity android:name=".Copper" />
        <activity android:name=".ScrapMetal" />
        <activity android:name=".Steel" />
        <activity android:name=".Aluminum" />
        <activity android:name=".ClearGlass" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>